/* Header */
header {
  padding: 15px;
  text-align: center;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* Display Mode */
.display-mode *{
  margin-right: 5px;
  text-align: center;
}

/* Tone Square */
#tr-area {
  padding: 10px;
  margin: 10px auto;
  background-color: #F2F2F2;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
}

#tr-square {
  display: table;
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 10px 0;
}

.random {
  padding: 10px;
}

#random-pitch {
  border: 0.5px solid grey;
  background-color: #fff;
  height: 2rem;
  padding: 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.tr {
  display: table-row;
}

.pitch-input {
  border: 0.5px solid grey;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  padding: 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.clicked {
  color: lightgray;
}

.original-row-item {
  font-weight: bold;
  color: #dc3545;
  padding-right: 10px;
}

#row-builder {
  padding-top: 15px;
  border-top: 3px solid black;
}

.pitch-box {
  width: 2rem;
  height: 2rem;
  border: 1px solid gray;
  background-color: #fff;
  color: black;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}